* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

#head {
    background-image: url("https://www.wallpapers4u.org/wp-content/uploads/stripes_light_lines_dark_9707_1920x1080.jpg");
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rosybrown;
    font-size: 30px;
    line-height: 1.6;
    height             : 100vh;
    background-size    : cover;
    background-position: center;
    display            : flex;
    flex-direction     : column;
    justify-content    : center;
    align-items        : center;
    padding            : 0 1em;
    text-align         : center;
}

.navbar .menu {
    display: inline-block;
    font-size: 2em;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    
    

}

.navbar .menu li {
    color: blue;
    display: inline;
    margin: 30px;
    padding: 15px;
    top: 0;
    
}

.navbar .menu a {
    text-decoration: none;
    color: wheat;
    padding: 10px;
}

.menu a:hover {
    background-color: rgba(38, 116, 112, 0.932);
    color: black;
    border-radius: 20px;
}

h1 {
    color: blanchedalmond;
    
}

h2 {
    color: salmon;
    font-size: 60px;
    
    
    
}

.section-a {

    padding-bottom: 30px;
    
   
}

.section-head {
    
    color: blanchedalmond;
}

.section-a a {
    text-decoration: none;
    color: white;
    
}

.section-a a:hover {
    color: black;
    background-color: gold;
    
}

#section-a {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 200px;
    
}

#section-a img {
    width: 230px;
    height: 250px;
    margin-inline: 120px;
    border-radius: 20px;
}

#section-a h2 {
    position: absolute;
    top: 100px;
    left: 550px;
    padding-top: 50px;
    color: teal;
}

.portrait {
    
    display: flex;
    
}

.portrait p {
    color: rgb(193, 214, 144);
    display: grid;
}

.portrait a {
    text-decoration: none;
}

.portrait a:hover {
    color: white;
    
}

.foot {
    display: flex;
    justify-content: space-around;
    background-color: rgb(119, 119, 119);
    color: rgba(9, 71, 63, 0.979);
    font-size: 20px;
}